* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #807ece;
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
}

.calculator-container {
  width: 356px;
  height: 620px;
  background-color: #2d2a37;
  border-radius: 50px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 188px 52px rgba(0, 0, 0, 0.01), 0px 120px 48px rgba(0, 0, 0, 0.04),
    0px 68px 41px rgba(0, 0, 0, 0.15), 0px 30px 30px rgba(0, 0, 0, 0.26),
    0px 8px 17px rgba(0, 0, 0, 0.29), inset 0px 6px 8px rgba(255, 255, 255, 0.1),
    inset 0px -4px 5px rgba(0, 0, 0, 0.22);
  border-radius: 48px;
}

.result-display {
  width: 288px;
  height: 100px;
  text-align: right;
  /* background-color: #292828; */
  color: #6b6b6b;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0px 19px 38px,
    inset rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.calculations-tracker {
  width: 280px;
  height: 28px;
  font-size: 20px;
}

.calculation-displayer {
  display: flex;
  justify-content: flex-end;
  gap: 220px;
  width: 288px;
  height: 50px;
}

.equals {
  display: flex;
  align-items: center;
  font-size: 36px;
}

.finalresult {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.operator {
  font-size: 30px;
  font-weight: bold;
  width: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculation-result {
  color: white;
  font-size: 22px;
  gap: 220px;
  width: 258px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.key-container {
  width: 292px;
  height: 368px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.key-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.key-btn {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #2d2a37;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.01), 0px 7px 7px rgba(0, 0, 0, 0.04),
    0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.26),
    0px 0px 2px rgba(0, 0, 0, 0.29), inset 0px 2px 3px rgba(255, 255, 255, 0.06);
  border-radius: 999px;
}

.purple-text {
  color: #6423cc;
}

.key-btn:last-child {
  background-color: #462878;
}

.key-btn:hover {
  cursor: pointer;
  background-color: #353241;
}

.key-btn:last-child:hover,
#btn-equal:hover {
  background: #8c4cfa;
}

.purple-text {
  color: #6423cc;
}

#btn-equal {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #7f45e2;
  box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.01), 0px 7px 7px rgba(0, 0, 0, 0.04),
    0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.26),
    0px 0px 2px rgba(0, 0, 0, 0.29), inset 0px 2px 3px rgba(255, 255, 255, 0.1);
  border-radius: 999px;
}

#footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#footer a {
  text-decoration: none;
  color: white;
}
