* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #807ece;
  font-family: "Rubik", sans-serif;
  position: relative;
}

.calculator-container {
  width: 340px;
  height: 620px;
  background-color: #2d2a37;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.result-display {
  width: 288px;
  height: 86px;
  text-align: right;
  /* background-color: #292828; */
  color: #6b6b6b;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0px 19px 38px,
    inset rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.calculations-tracker {
  width: 280px;
  height: 28px;
  font-size: 20px;
}

.calculation-displayer {
  display: flex;
  justify-content: flex-end;
  gap: 220px;
  width: 288px;
  height: 50px;
}

.equals {
  display: flex;
  align-items: center;
  font-size: 36px;
}

.calculation-result {
  color: white;
  font-size: 22px;
  gap: 220px;
  max-width: 288px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;
}

.key-container {
  width: 292px;
  height: 368px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.key-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.key-btn {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background-color: #2d2a37;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1),
    0px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
    inset 0px 1px 0px rgba(255, 255, 255, 0.03);
}

.purple-text {
  color: #6423cc;
}

.key-btn:last-child {
  background-color: #462878;
}

.key-btn:hover {
  cursor: pointer;
  background-color: #353241;
}

.key-btn:last-child:hover {
  background-color: #6519df;
}

.purple-text {
  color: #6423cc;
}

#footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#footer a {
  text-decoration: none;
  color: white;
}
