* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #807ece;
}

.calculator-container {
  width: 356px;
  height: 530px;
  background-color: #2d2a37;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.result-display {
  width: 288px;
  height: 86px;
  text-align: right;
  background-color: white;
  font-size: 80px;
}

.key-container {
  width: 292px;
  height: 368px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.key-row {
  display: flex;
  justify-content: space-between;
}

.key-btn {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background-color: #2d2a37;
  color: white;
  font-size: 20px;
}
